@inherits LayoutComponentBase

<TelerikRootComponent>
    <div class="main">
        <div class="top-row px-4">
            <NavMenu />
        </div>

        <div class="content p-4 background">
            @Body
        </div>
    </div>
</TelerikRootComponent>